{% extends 'front_office/layout.html.twig' %}

{% block title %}
	EK - Accueil
{% endblock %}

{% block content %}
	<header>
		<div class="intro px-xl-5 pb-5">
			<div class="intro-text me-xl-5">
				<h1 class="intro-h1">ELISA KLEIN</h1>
				<div class="social-media mb-3">
					<a href="" class="me-2 text-reset"><img src="/public/assets/front-office/img/github.svg" alt=""></a>
					<a href="" class="me-2 text-reset"><img src="/public/assets/front-office/img/social-media-linkedin.svg" alt=""></a>
				</div>
				<p class="catch-phrase">Développeuse web passionnée par l'innovation</p>

				<p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet justo erat. Morbi dolor turpis, venenatis pharetra nibh sit amet, porta pharetra augue. Praesent vehicula a elit sit amet venenatis. Phasellus finibus, ipsum et ultrices sollicitudin, mi mi vestibulum velit, et consequat nunc augue vitae metus.</p>

				<div class="buttons">
					<a href="" class="btn-fill">Télécharger mon CV</a>
				</div>
			</div>
			<div class="intro-img">
				<img src="/public/assets/front-office/img/logo.png" alt="EK logo">
			</div>
		</div>
	</header>
	<section id="contact" class="row justify-content-center contact-bloc text-center" >
		<h2 class="mb-1">Contactez-moi</h2>
		<p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		<div class="col-xl-6">
			<form action="/sendmail#contact" method="post">
				{% if errors is not empty %}
					<div class="alert alert-danger text-start" role="alert">
						<ul>
							{% for message in errors %}
									<li>{{message}}</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
				<div class="mb-3">
					<input class="form-control" name="firstname" type="text" placeholder="Prénom *" {% if contact.firstname is defined %} value="{{ contact.firstname }}" {% endif %} required />
				</div>
				<div class="mb-3">
					<input class="form-control" name="lastname" type="text" placeholder="Nom *" {% if contact.lastname is defined %} value="{{ contact.lastname }}" {% endif %} required />
				</div>
				<div class="mb-3">
					<input class="form-control" name="email" type="email" placeholder="Email *" {% if contact.email is defined %} value="{{ contact.email }}" {% endif %} required />
				</div>
				<div class="mb-3">
					<textarea class="form-control" name="message" type="text" placeholder="Votre Message *" style="height: 10rem;"  required>{% if contact.message is defined %}{{ contact.message }}{% endif %}</textarea>
				</div>
				<div class="d-grid">
					<button class="btn-fill mt-0" id="submitButton" type="submit">Envoyer</button>
				</div>
			</form>
		</div>
	</section>
{% endblock %}
