{% extends 'front_office/layout.html.twig' %}

{% block title %}
	EK - Blog
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/themes/prism.min.css" integrity="sha512-/mZ1FHPkg6EKcxo0fKXF51ak6Cr2ocgDi5ytaTBjsQZIH/RNs6GF6+oId/vPe3eJB836T36nXwVh/WBl/cWT4w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}
{% block content %}
	<div class="row">
		<div class="main col-lg-12 col-xl-8 col-md-12 mx-auto">
			<div class="single-post">
				<h2>{{ post.title }}</h2>
				<div class="post-meta text-muted">
					<span>
						<i class="far fa-user"></i> 
						{{ post.author }}
					</span>
					<span>
						<i class="far fa-calendar"></i> 
						{{ post.createdAt }}
					</span>
					{% if post.updatedAt is not null %}
					<span>
						<i class="fa-solid fa-pen"></i>
						{{ post.updatedAt }}				
					</span>
					{% endif %}
					<span>
						<i class="far fa-comment-alt"></i> 
						{{ post.nbComment }} {% if post.nbComment > 1 %}commentaires{% else %}commentaire{% endif %}
					</span>
				</div>
				<div class="post-contant">
					<div class="post-img">
						<img src="/public/assets/featured-img/{{ post.featuredImg }}" alt="{{ post.title }}">
					</div>
					{{ post.content | raw }}
				</div>
			</div>
			<hr>
			{# Liste des commentaires #}
			<div class="list-comments">
				<h5 class="text-muted">
					<i class="far fa-comment-alt"></i> 
					{{ post.nbComment }} {% if post.nbComment > 1 %}commentaires{% else %}commentaire{% endif %}
				</h5>
				{% for comment in comments %}
				<div class="d-flex flex-row comment-row">
					<div class="p-2">
						<img src="/public/assets/front-office/img/user.png" alt="user" width="35">
					</div>
					<div class="comment-text w-100">
						<h6>{{ comment.author }}</h6>
						<div class="comment-footer">
							<span class="date text-muted">{{ comment.createdAt }}</span>
							<p>{{ comment.content }}</p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			{# TO DO : à n'afficher que si l'utilisateur est connecté #}
			<form action="/blog/post/addComment/{{ post.id }}#commentForm" method="post" id="commentForm">
				<div class="mb-3">
					<label for="comment" class="form-label">Ecrire un commentaire</label>
					<textarea class="form-control" name="comment" rows="5" required></textarea>
					{% if error is defined %}
						<div class="text-danger">
							{{ error.comment }}
						</div>
					{% endif %}
				</div>
				<div class="d-grid">
          <button class="btn-fill" id="submitButton" type="submit">Envoyer le commentaire</button>
        </div>
			</form>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/prism.min.js" integrity="sha512-UOoJElONeUNzQbbKQbjldDf9MwOHqxNz49NNJJ1d90yp+X9edsHyJoAs6O4K19CZGaIdjI5ohK+O2y5lBTW6uQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}