{% extends 'back_office/layout.html.twig' %}

{% block title %}
  EK - Tous les articles
{% endblock %}

{% block content %}
	<div class="row page-titles">
        <div class="col-md-12 align-self-center">
            <h3 class="text-themecolor">Tous les articles</h3>			
        </div>
        <div class="col-md-12 align-self-center mt-4">
             <a href="/dashboard/newpost" class="btn waves-effect waves-light btn-themecolor text-white">Publier un article</a>
        </div>
    </div>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>Auteur</th>
									<th>Titre</th>
									<th>Chapô</th>
									<th>Créé le</th>
									<th>Dernière modification le</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for post in posts %}
									<tr>
										<td>{{post.author}}</td>
										<td>{{post.title}}</td>
										<td>{{post.excerpt}}</td>
										<td>{{post.created_at}}</td>
										<td>{{post.updated_at}}</td>
										<td>
											<a href="/dashboard/updatepost/{{post.id}}" class="btn waves-effect waves-light btn-primary text-white">Modifier</a>
											<a class="btn waves-effect waves-light btn-danger text-white" data-bs-toggle="modal" data-bs-target="#deletePostConfirm">Supprimer</a>
											<div class="modal fade" id="deletePostConfirm" tabindex="-1" aria-labelledby="deletePostConfirmQuestion" aria-hidden="true">
												<div class="modal-dialog modal-dialog-centered">
													<div class="modal-content">
														<div class="modal-header">
															<h1 class="modal-title fs-5" id="deletePostConfirmQuestion">Êtes-vous sûr de vouloir supprimer l'article ?</h1>
															<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
														</div>
														<div class="modal-body fw-bold">
																Attention cette action est irréversible !
														</div>
														<div class="modal-footer">
															<a href="/dashboard/deletepost/{{post.id}}" class="btn btn-danger text-white">Supprimer</a>	
															<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>																													
														</div>
													</div>
												</div>
											</div>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
